body{
    margin : 0px;
    padding : 0px;
}

.container {
    /*
    margin-inline: max(2rem, 50% - 1240px/2);
    */
    max-width: 1920px;
    margin-left: auto; 
    margin-right: auto; 
}


/* MENU */
.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #093348;
}

.barre_menu1, .barre_menu2{
    display: flex;
    justify-content: center;
    font-family: 'robotobold';
    flex: 0 0 50%;
    height: 96px;
    color:white;
    text-align: center;
}

.pencil{
    margin-top: 32px;
}

.barre_menu2 li{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'robotobold';
    padding: 1.5rem;
}

.barre_menu2 li:hover{
    width: 130px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
    background-color: rgba(255,255,255,0.09019607843137255);
    padding: 10px 0 0 0;
}

.barre_menu2 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-family: 'robotobold';
    text-align: center;
}

.barre_menu2 a:hover{
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    filter: drop-shadow(0.5px 0.866px 1.5px rgba(6,6,6,0.2));
}


/* PHOTO DE FOND */
.contenu_photo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 512px;
}

.photo_de_fond{
    background-image: url(../images/bg-header.jpg);
    background-position:center;
    height: 512px;
}

.titre_xl{
    margin-top: 128px;
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-family: 'robotobold';
}

.contenu_restreint{
    max-width: 500px;
    margin-left: auto; 
    margin-right: auto;
    height: 40px;
 }

 .titre_lg{
    text-align: center;
    font-size: 24px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
 }

 .barre_lg{
    color: white;
    background-repeat: repeat;
    text-align: center;
    font-size: 12px;
 }

 .contenu_restreint_plus{
    max-width: 500px;
    margin-left: auto; 
    margin-right: auto;
    height: 90px;
 }

 .titre_pt{
    font-size: 15px;
    line-height: 21px;
    color: #b4d1e1;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
 }

 .contenu_restreint_bouton{
    max-width: 250px;
    height: 20px;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
 }

 .bouton_photo_de_fond{
    padding-top: 15px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
 }


 /* contenu baby_faces sur fond BLANC */
 .contenu_baby_faces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 650px;
    justify-content: center;
    border : 2px solid black;
}

.contenu_restreint_baby_faces{
    width: 950px;
}

.titre_baby_faces{
    margin-top: 76px;
    margin-bottom: 48px;
    font-size: 36px;
    color: #0d415c;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
}

.item_baby_faces{
    display: inline-block;
    width: 32.75%;
    text-align: center;
}

.prenom{
    margin-top: 5px;
    font-size: 24px;
    color: #0d415c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.mission{
    margin-top: 5px;
    font-size: 13px;
    color: #618598;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.contenu_restreint_baby_faces_footer{
    margin-top: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.footer_baby_faces{
    font-size: 15px;
    color: #0d415c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

/* PORTFOLIO */
.contenu_portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3ead87;
    height: 650px;
    justify-content: center;
    border : 2px solid rosybrown
}

.titre_portfolio, .titre_formulaire{
    margin-top: 76px;
    font-size: 36px;
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
    border : 2px solid rosybrown;

}

.titre_portfolio2, .titre_formulaire2{
    margin-bottom: 64px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
}

.item_portfolio{
    display: inline-block;
    width: 24%;
    text-align: center;
}

.contenu_restreint_portfolio_footer{
    margin-top: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contenu_restreint_portfolio_bouton{
    max-width: 275px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
 }

 .text_bouton_portfolio{
    margin-top: 6px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
    color: white;
 }

/* FORMULAIRE */
 .contenu_formulaire{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #223139;
    height: 720px;
    justify-content: center;
}

.contenu_restreint_formulaire{
    margin-top: 80px;
    background-color: white;
    max-width: 350px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
 }

 .contenu_restreint_formulaire2{
    margin-bottom: 10px;
    background-color: white;
    max-width: 350px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
 }

 .contenu_restreint_formulaire2 input{
    border: none;
    margin-top: 6px;
    font-family: "Roboto";
    text-align: center;
 }

 .contenu_restreint_formulaire3{
    margin-bottom: 10px;
    background-color: white;
    max-width: 350px;
    height: 144px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px white;
    border-radius: 20px;
    text-align: center;
 }

 .contenu_restreint_formulaire3 textarea{
    border: none;
    margin-top: 20px;
    font-family: "Roboto";
    color: black;
    text-align: center;
 }

 .contenu_restreint_formulaire_footer{
    margin-top: 32px;
    margin-bottom: 146px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* CONTENU RESEAUX SOCIAUX */
.contenu_formulaire_elargi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 100%;
    height: 50px;
    justify-content: center;
}

.item_formulaire1, .item_formulaire2{
    display: flex;
    width: 49.5%;
    border: 1px solid rgb(10, 151, 233);
    justify-content: center;
    gap: 1rem;
}

.item_formulaire_reseaux{
    display: inline-block;
    height: 50px;
    border: 1px solid greenyellow;
}

.texte_reseaux_sociaux{
    margin-top: 8px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #b4d1e1;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.logo_reseaux_sociaux{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #b4d1e1;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.copyright{
    margin-top: 18px;
    font-size: 12px;
    line-height: 16px;
    color: #b4d1e1;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}
/* CONTENU RESEAUX SOCIAUX */



/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 1240px){

    .container {
        /*
        margin-inline: max(2rem, 50% - 1240px/2);
        */
        max-width: 1240px;
        margin-left: auto; 
        margin-right: auto; 
    }

    .menu{
        text-align: center;
        background-color: #093348;
        border: 1px solid white;
    }
    
    .barre_menu1{
        flex: 0 0 45%;
        justify-content: flex-start;
    }

    .barre_menu2{
        flex: 0 0 55%;
    }

    .barre_menu2 li{
        display: inline-block;
        text-transform: uppercase;
        font-family: 'robotobold';
        padding: 1.2rem;
    }

    .pencil{
        margin-top: 32px;
        margin-left: 20px;
    }

    .item_formulaire1{
        border: 1px solid rgb(10, 151, 233);
        gap: 1rem;
        justify-content: left;
    }
    
    .item_formulaire2{
        border: 1px solid rgb(10, 151, 233);
        justify-content: right;
    }
}


@media screen and (max-width: 992px){

    .menu{
        text-align: center;
        background-color: #093348;
        border: 1px solid white;
    }
    
    .barre_menu1{
        flex: 0 0 30%;
        justify-content: flex-start;
    }

    .barre_menu2{
        flex: 0 0 70%;
    }

    .barre_menu2 li{
        padding: 1.1rem;
    }

    .contenu_portfolio{
        height: 800px;
    }

    .item_baby_faces{
        display: inline-block;
        width: 31%;
        text-align: center;
        align-items: center;
    }

     .item_portfolio{
        display: inline-block;
        width: 49%;
        text-align: center;
        align-items: center;
    }

    .contenu_restreint_formulaire_footer{
        margin-bottom: 120px;
    }
    
    .item_formulaire1, .item_formulaire2{
        gap: 0.3rem;
    }
}

@media screen and (max-width: 768px){

    .menu{
        text-align: center;
        background-color: #093348;
        border: 1px solid white;
    }
    
    .barre_menu1{
        flex: 0 0 10%;
    }

    .barre_menu2{
        flex: 0 0 90%;
    }

    .barre_menu2 li{
        padding: 0.97rem;
    }

    .contenu_baby_faces{
        height: 680px;
    }

    .contenu_portfolio{
        height: 800px;
    }

     .item_portfolio{
        display: inline-block;
        width: 48%;
        text-align: center;
        border : 2px solid yellow;
        align-items: center;
    }

    .item_baby_faces{
        width: 30%;
        border : 1px solid blue;
    }

    .mission{
        margin-top: 5px;
        font-size: 9px;
    }

    .contenu_formulaire{
        height: 794px;
    }

    .item_formulaire1, .item_formulaire2{
        display: flex;
        width: 95%;
        border: 1px solid rgb(10, 151, 233);
        justify-content: center;
        gap: 1rem;
    }

    .contenu_restreint_formulaire_footer{
        margin-bottom: 120px;
    }
    
    .item_formulaire1, .item_formulaire2{
        gap: 0.3rem;
    }
}

@media screen and (max-width: 576px){

    
    .menu{
        text-align: center;
        background-color: #093348;
        border: 1px solid white;
    }
    
    .barre_menu1{
        flex: 0 0 10%;
    }

    .barre_menu2{
        display: none;
    }

    .barre_menu3{
        display: flex;
        justify-content: end;
        flex: 0 0 80%;
    }

    .logo_menu{
        margin: 32px 0 0 0;
    }

    .contenu_baby_faces{
        height: 1100px;
    }

    .item_baby_faces{
        display: inline-block;
        width: 32.75%;
        text-align: center;
        border : 1px solid blue;
        align-items: center;
    }

    .contenu_portfolio{
        height: 800px;
    }

     .item_portfolio{
        display: inline-block;
        width: 48%;
        text-align: center;
        border : 2px solid yellow;
        align-items: center;
    }

    .item_baby_faces{
        display: inline-block;
        width: 100%;
        text-align: center;
        border : 1px solid blue;
        align-items: center;
    }
}