body{
    margin : 0px;
    padding : 0px;
}

.container {
    /*
    margin-inline: max(2rem, 50% - 1240px/2);
    */
    max-width: 1240px;
    margin-left: auto; 
    margin-right: auto; 
}

.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #093348;
}

.barre_menu{
    display: flex;
    justify-content: center;
    font-family: 'robotobold';
    flex: 0 0 50%;
    height: 96px;
    color:white;
    text-align: center;
}

.pencil{
    margin-top: 32px;
}

.barre_menu li{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'robotobold';
    padding: 1.5rem;
}

.barre_menu li:hover{
    width: 130px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
    background-color: rgba(255,255,255,0.09019607843137255);
    padding: 10px 0 0 0;
}

.barre_menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-family: 'robotobold';
    text-align: center;
}

.barre_menu a:hover{
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    filter: drop-shadow(0.5px 0.866px 1.5px rgba(6,6,6,0.2));
}



.contenu_photo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 512px;
}

.photo_de_fond{
    background-image: url(../images/bg-header.jpg);
    background-position:center;
    height: 512px;
}

.titre_xl{
    margin-top: 128px;
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
    font-family: 'robotobold';
}

.contenu_restreint{
    max-width: 500px;
    margin-left: auto; 
    margin-right: auto;
    height: 40px;
 }

 .titre_lg{
    text-align: center;
    font-size: 24px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Roboto";
 }

 .barre_lg{
    color: white;
    background-repeat: repeat;
    text-align: center;
    font-size: 12px;
 }

 .contenu_restreint_plus{
    max-width: 500px;
    margin-left: auto; 
    margin-right: auto;
    height: 90px;
 }

 .titre_pt{
    font-size: 15px;
    line-height: 21px;
    color: #b4d1e1;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
 }

 .contenu_restreint_bouton{
    max-width: 250px;
    height: 20px;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
 }

 .bouton_photo_de_fond{
    padding-top: 15px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
 }


 .contenu_baby_faces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 650px;
    justify-content: center;
}

.contenu_restreint_baby_faces{
    border: 2px solid black;
    width: 950px;
}

.titre_baby_faces{
    margin-top: 76px;
    margin-bottom: 48px;
    font-size: 36px;
    color: #0d415c;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    border:1px solid red;
}

.item_baby_faces{
    display: inline-block;
    width: 32.75%;
    border: 1px solid red;
    text-align: center;
}

.prenom{
    margin-top: 5px;
    font-size: 24px;
    color: #0d415c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.mission{
    margin-top: 5px;
    font-size: 13px;
    color: #618598;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.contenu_restreint_baby_faces_footer{
    margin-top: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.footer_baby_faces{
    font-size: 15px;
    color: #0d415c;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}


.contenu_portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 624px;
    background-color: #3ead87;
    height: 650px;
    justify-content: center;
}

.titre_portfolio{
    margin-top: 76px;
    font-size: 36px;
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    border:1px solid red;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
}

.titre_portfolio2{
    margin-bottom: 64px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0px 1px 1.5px rgba(6,6,6,0.18));
}

.item_portfolio{
    display: inline-block;
    width: 24%;
    border: 1px solid red;
    text-align: center;
}

.contenu_restreint_portfolio_footer{
    margin-top: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.contenu_restreint_portfolio_bouton{
    max-width: 275px;
    height: 30px;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
 }

 .text_bouton_portfolio{
    margin-top: 6px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(6,6,6,0.24));
    color: white;
 }


 .contenu_formulaire{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid skyblue;
    height: 624px;
    background-color: #223139;
    height: 720px;
    justify-content: center;
}

